/* Grid daje Ci możliwość korzystania ze stylów Bootstrapa
dla klas:
container,
container-fluid,
row,
kolumn (np. col-sm-, col-md-)
oraz z offsetu
ale nie zawiera innych komponentów ani klas pomocniczych. */

$color-light: #fff;
$color-dark: #000;
$color-one: #ffd700; /* złoty */
$color-two: #c0c0c0; /* szary */

* {
  box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
	line-height: 1.7;
}

h1 {
	color: #fff;
	font-size: 55px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin-top: 0;
	}

h2 {
	color: #fff;
	font-size: 44px;
	font-family: 'Times', serif;
	font-style: italic;
	text-transform: capitalize;
	margin-bottom: 0;
}

header {
	background-color: #000;
	background-image: url("../images/header_leo-cardelli_pexels.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: relative;
}

.navigation {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.brand-name {
	justify-content: space-between;
	align-items: center;
 }


.brand-name a {
	text-decoration: none;
	font-family: 'Grand Hotel', cursive;
	font-style: italic;
	font-size: 24px;
	color: #FFDF33;
}

.menu {
	padding-top: 20px;
	padding-right: 10px;
}

.menu li {
	list-style: none;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.menu li a {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	padding: 0 10px;
}

.col-7 {
	margin-bottom: 30px;
} 

.splash {
	padding-top: 30px;
}

.btn {
	display: inline-block;
	min-width: 230px;
	padding: 16px;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	border-style: solid;
	border-color: #FFDF33;
	color: #fff;
	background-color: #FFDF33;
}


.section-services {
	height: 75vh;
	padding-bottom: 20px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 0px;
}

.section-description {			/* dla services i portforlio */
	margin-top: 0px;
	margin-bottom: 60px;
	font-style: italic;
	color: #909090;
}

.section-services .row {
	margin-right: 100px;
	margin-left: 100px;
}

.col-4 p {
	margin-top: 10px;
}

.col-4 .fas {
	border: solid 3px #FFDF33;
	border-radius: 50%;
	color: #FFDF33;
	width: 60px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
}

.subtitles {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #000;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 0px;
}

.container {
	font-size: 14px;
	color: #909090;
	text-align: center;
	padding: 0;
}

.section-portfolio {
	height: 200vh;
	background-color: #eee;
	padding-top: 20px;
}

.section-portfolio .row {
	margin-right: 100px;
	margin-left: 100px;
}